#map {
    height: 400px;
    width: 75%;
    margin-top: 400px;
    margin: auto;
    border: solid;
    border-width: 2px;
    border-color:purple;
    border-radius: 15px;
}

.map-container{
    width: 75%;
    height: 400px;
    margin-top: 50px;
}

.mapboxgl-popup {
    max-width: 200px;
    min-width: 80px;
    text-align: center;
}

body {
    background-color: lightgrey;
    color: purple;
    font-family: 'Inconsolata', monospace;
}

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: nowrap;
    margin-top: 40px;
}

.location-list {
    display: flex;
    flex-direction: column;
    border: solid;
    margin-left: 5%;
    border-radius: 15px;
    overflow-y: scroll;
    max-height: 500px;
    max-width: 25%;
}

a {
    color: purple;
    text-decoration: none;
}

.locations {
    padding: 20px;
}

.list-top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: purple;
}

.list-item {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-img-container {
    justify-content: flex-start;
    display: flex;
}

.list-img {
    display: flex;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin: 15px;
}

.add-new-container {
    justify-content: flex-end;
    display: flex;
}

.add-new {
    display: flex;
    border-radius: 25%;
    width: 35px;
    height: 35px;
    background-color: rgb(83, 212, 83);
    align-items: center;
    justify-content: center;
    margin: 25px;
    color: purple;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    font-size: 12px;
    max-width: 25%;
    margin: auto;
    margin-top: 30px;
}

.green-submit {
    display: flex;
    border-radius: 25%;
    width: 75px;
    height: 50px;
    background-color: rgb(83, 212, 83);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    color: white;
    border-color: purple;
}

.red {
    display: flex;
    border-radius: 25%;
    width: 65px;
    height: 40px;
    background-color: rgb(237, 85, 85);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: solid;
    
}

.green {
    display: flex;
    border-radius: 25%;
    width: 65px;
    height: 40px;
    background-color: rgb(83, 212, 83);
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: solid;
}

.location-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 85%;
    height: 75%;
    margin: auto;
    margin-top: 30px;
}

.location-text {
    width: 45%;
    height: 85%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    color: purple;
}

.location-img {
    width: 55%;
    height: 75%;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin: auto;
    
}

.location-img img {
    width: 75%;
    height: 60%;
    object-fit: cover;
}

.title {
    font-family: 'Inconsolata', monospace;
    font-size: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
}

.header a {
    color: purple;
    text-decoration: none;
}

.auth {
    width: 400px;
    height: 55px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar-menu .navbar-end {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.navbar-item {
    margin: 10px;
}

.login-page {
    display: flex;
    justify-content: center;
}

#visual {
    height: auto;
    width: 100%;
    z-index: -1;
    position: fixed;
    /* object-fit: cover; */
    overflow: hidden;
}

.login-form {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 25px;
    border-color: purple;
    background-color: rgb(211, 211, 211, 0.5);
    padding: 55px;
    z-index: 1;
    width: 200px;
    height: auto;
    margin-right: 25%;
    margin: auto;
    /* float: right; */
    position: fixed;
}

.login-form-container{
    display: flex;
    justify-content: right;
    align-items: flex-start;
    z-index: 1;
    width: 100%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 25px;
    border-color: purple;
    background-color: rgb(211, 211, 211, 0.5);
    padding: 5%;
    z-index: 1;
    max-width: 300px;
    max-height: 500px;
    margin-top: 5%;
    margin-right: 5%;
}

input, textarea, .btn {
    background-color: rgb(211, 211, 211, 0.5);
    color:purple;
    font-family: 'Inconsolata', monospace;
    border-color: purple;
    padding: 5px;
}

.delete_view {
    margin-top: 75px;
    text-align: center;
}

.create_update_view {
    text-align: center;
    margin-top: 75px;
}

form {
    color: purple;
}

@media only screen and (max-width: 600px) {
    .auth {
        font-size: 13px;
    }

    /* #visual{
        height: 175%;
        width: auto;
    } */
}