#map {
    height: 400px;
    width: 80%;
    justify-content: center;
    display: flex;
    margin: auto;
}
.map-container {
    height: 400px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
}

body {
    background-color: slateblue;
}