/* 
colors
blue
#5fa7ef
tan
#F8D7BD
text
rgb(50, 50, 50)
*/

/* GLOBAL */

body {
    background-color: white;
    color: rgb(50, 50, 50);
    font-family: 'Mukta', sans-serif;
    margin: 0;
}

a { 
    text-decoration: none;
    color: #5fa7ef;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5fa7ef;
    color: white;
    border: solid;
    border-radius: 15px;
    width: 70px;
    height: 100%;
    margin: 10px;
}

input, textarea {
    background-color: rgba(216, 216, 216, 0.5);
    padding: 5px;
    font-size: 15px;
    border-width: 1px;
    border-color: lightgrey;
}

.header strong {
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

.header-in {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    background-color: #5fa7ef;
    color: white;
    padding: 10px;
}

.header-out {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    text-decoration: none;
    padding: 10px;
} 

.header-in a {
    color: white;
}

.footer {
    display: flex;
    justify-content: right;
    align-items: center;
    text-decoration: none;
    color: white;
    bottom: 0;
    padding: 5px;
}

.github, .linkedin {
    width: auto;
    height: 25px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
}

.auth {
    display: flex;
    align-items: center;
    justify-content: right; 
    text-align: right;
    flex-direction: row;
    flex-wrap: nowrap;
    color: white;
    width: 75%;
    height: 55px;
    font-size: 20px;
} 

.navbar-item {
    margin: 10px;
}

#sign-up {
    background-color: #5fa7ef;
    color: white;
    padding: 5px;
    border-radius: 5px;
}


/* HOME */

.home {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: 40px;
    margin-bottom: 40px;
}

#map {
    height: 100%;
    width: 90%;
    border-width: 2px;
    border-radius: 15px;
}

.map-container{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 500px;
}

.mapboxgl-popup {
    max-width: 200px;
    min-width: 80px;
    text-align: center;
}

.searchbar {
    background-color: white;
    color: grey;
    border-radius: 15px;
    width: 75%;
}

::placeholder {
    color: black;
}

.search-add {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
    width: 100%;
}

.location-list {
    display: flex;
    flex-direction: column;
    color: grey;
    background-color: lightgrey;
    border: solid;
    margin-left: 5%;
    border-radius: 15px;
    height: 500px;
    width: 25%;
    font-size: 10px;
    padding: 10px;
    margin-left: 10px;
}

.list {
    background-color: white;
    overflow-y: scroll;
    border: solid;
    border-style: groove;
    border-width: 3px;
    height: 85%;
    margin-bottom: 10px;
    padding: 3px;
}

.list-item {
    color: #5fa7ef;
    font-size: 15px;
}

.add-new-container {
    justify-content: flex-end;
    display: flex;
}

.add-new {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5fa7ef;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 25%;
    margin: 5px;
    cursor: pointer;
}


/* CRUD VIEWS */

.crud_view {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    border: solid;
    border-radius: 15px;
    width: 85%;
    height: auto;
    min-height: 500px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

.location-img {
    width: 400px;
    max-height: 400px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: solid;
    border-radius: 15px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 10px;
}  

.green-btn {
    background-color: #009473;
    display: flex;
    border-radius: 25%;
    width: 70px;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: white;
    border: none;
    cursor: pointer;
}

.red-btn {
    background-color: rgb(234, 73, 73);
    display: flex;
    border-radius: 25%;
    width: 70px;
    height: 55px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    color: white;
}


/* LOGIN */

.login-page {
    display: flex;
    justify-content: center;
} 

#backdrop {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 65px;
    border: solid;
    border-radius: 25px;
    border-color: rgb(211, 211, 211);
    background-color: rgb(95, 167, 239, 0.8);
    z-index: 1;
    max-width: 400px;
    max-height: 500px;
    margin-top: 75px;
    margin-right: 10%;
}

.login-form .title {
    color: white;
}

.login-form a {
    color: white;
}

.login-form-container{
    display: flex;
    justify-content: right;
    z-index: 1;
    width: 100%;
}

.signup-form {
    display: flex;
    flex-direction: column;
    border: solid;
    border-radius: 25px;
    border-color: rgb(211, 211, 211);
    background-color: rgb(95, 167, 239, 0.8);
    padding: 5%;
    z-index: 1;
    max-width: 400px;
    max-height: 500px;
    margin-top: 5%;
    margin-right: 10%;
}

.signup-form .title {
    color: white;
}



/* MOBILE */

@media only screen and (max-width: 600px) {
    
    .auth {
        font-size: 13px;
    }

    .home {
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    #map {
        height: 90%;
        width: 100%;
        margin-top: 5%;
        margin: auto;
    }
    
    .map-container{
        width: 85%;
        height: 400px;
        margin-top: 50px;
        margin: auto;
    }
    
    .location-list {
        width: 90%;
        height: 300px;
        margin: auto;
    }

    .login-form {
        max-width: 80%;
        max-height: 500px;
        margin: 0;
        margin-top: 10%;
    }
    
    .login-form-container{
        display: flex;
        justify-content: center;
        z-index: 1;
        width: 100%;
    }
    
    .signup-form {
        max-width: 80%;
        margin: 0;
        margin-top: 10%;
        max-height: 500px;
    }

    .location-img {
        width: 220px;
        height: 300px;
    }

    .crud-view {
        padding: 10px;
        min-height: 300px;
        height: auto;
    }


}