{% extends 'base.html' %} {% block content %}
<div class="login-page">
  <img id='backdrop'src="https://i.imgur.com/4K0nf2V.png"/>
  <div class="login-form-container">
    <div class="login-form">
      <h1 class="title">Log In</h1>
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" class="btn" value="Login" />
        <input type="hidden" name="next" value="{{ next }}" />
        <h3>Don't have an account? <a href="{% url 'signup' %}">Sign Up</a></h3>
      </form>
    </div>
  </div>
</div>

{% endblock %}
