{% extends 'base.html' %} {% block content %}
<div class="login-page">
  <img id='backdrop'src="https://imgur.com/bC3KrQZ.png" alt="login background"/>
  <div class="login-form-container">
    <div class="signup-form">
      <h1 class="title">Sign Up</h1>
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %} {{ form.as_p }}
        <input type="submit" class="btn" value="Sign Up" />
        <input type="hidden" name="next" value="{{ next }}" />
      </form>
    </div>
  </div>
</div>

{% endblock %}
