{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="{% static '/scripts/index.js'%}" defer></script>
    <link href="{% static '/styles/main.css'%}" rel='stylesheet' type='text/css'/>
    <!-- mapbox -->
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.js'></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css" rel="stylesheet" />
    <!-- jquery -->
    <script src="{% static 'js/jquery-1.11.1.js' %}"></script>
    <script src="{% static 'js/rango-jquery.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <title>Disclose</title>
</head>
<body>
    <div class="header">
        <nav>
            <a class="title" href="{% url 'home' %}">Disclose</a>
            <a href="{% url 'location_list' %}">Locations</a>
        </nav>
        <div class="auth">
          {% if user.is_authenticated %}
          <div class="navbar-menu navbar-end">
            <span class="navbar-item">Welcome {{user.username}}</span>
            <a class="navbar-item" href="{% url 'logout' %}">Logout</a>
          </div>
          {% else %}
          <div class="navbar-menu navbar-end">
            <a class="navbar-item" href="{% url 'login' %}">Login</a>
            <a class="navbar-item" href="{% url 'signup' %}">Sign Up</a>
          </div>
          {% endif %}
        </div>
      </div>
    {% block content %} {% endblock %}
</body>
</html>