{% extends 'base.html' %}
{% block content %}
<div class="crud_view">
    <h1>Add a comment about this location</h1>
    <form method="post">
        {% csrf_token %}
        <div class="hide-form">
            {{form.location}}
            {{form.user}}
        </div>
        {{form.comment}}
        <div class="buttons">
            <input class='btn' type="submit" value="Submit" />
            <a class='btn' id='btn-link' href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>
{% endblock%}