{%extends 'base.html'%} {%load static%} {% block content %}
<div class="home">
  <div class="location-list">
    <div class="search-add">
      <input class="searchbar" type="text" placeholder="Search by state..." />
      <div class="add-new-container">
        <form action="{% url 'location_create' %}">
          <input class="add-new" type="submit" value="+" />
        </form>
      </div>
    </div>
    <div class="list">
      {% for location in locations %}
        <a class="list-item" href="/locations/{{location.id}}">
          <div class="name">
            <h3>{{location.name}}</h3>
          </div>
          <div class="city-state">{{location.city}}, {{location.state}}</div>
          <div class="lat">{{location.lat}}</div>
          <div class="lng">{{location.lng}}</div>
          <img class="home-img" src="{{location.img}}" />
          <hr />
        </a>
      {% endfor %}
    </div>
  </div>
  <div class="map-container">
    <div id="map"></div>
  </div>
</div>
<script type="text/javascript">
  const API_KEY = "{{API_KEY | safe}}";
  mapboxgl.accessToken = API_KEY;
</script>
{% endblock %}
