{% extends 'base.html' %}
{% block title %} 
Dislose
{% endblock %}
{% block content %}
<div class="list-top">
    <h1>Directory</h1>
    <div class="add-new-container">
        <form action="{% url 'location_create' %}">
            <input class='add-new' type="submit" value="+"/>
        </form>
    </div>
</div>
 <hr>
 <div class="locations">
     {% for location in locations %}
        <a href="/locations/{{location.id}}">
            <div class="list-item">
                <div class="list-img-container">
                    <img class="list-img" src='{{location.img}}' alt="'{{location.name}}"/>
                </div>
                <h2>{{location.name}} - {{location.city}}, {{location.state}}</h2>
            </div>
        </a>
    <hr>
     {% endfor %}
</div>
{% endblock %}