{%extends 'base.html'%}
{% block title %} 
{{location.name}}
{% endblock %}
{% block content %}
<div class="location-detail">
    <div class="location-text">
        <h1>{{location.name}}</h1>
        <h2>{{location.city}}, {{location.state}}</h2>
        <p>{{location.description}}</p>
        <h3>Lat: {{location.lat}}</h3>
        <h3>Long: {{location.lng}}</h3>
    </div>
    <div class="location-img">
        <img src='{{location.img}}' alt='{{location.name}}'/>
    </div>
</div>
<div class="buttons">
    <a href="/locations/{{location.id}}/update">
        <div class='green'>
            Edit
        </div>
    </a>
    <a href="/locations/{{location.id}}/delete">
        <div class='red'>
            Delete
        </div>
    </a>
</div>
{% endblock %}