{%extends 'base.html'%}
{% block title %} 
{{location.name}}
{% endblock %}
{% block content %}
<div class="locations">
     <h1>Location detail </h1>
     <h1>{{location.name}}</h1>
     <h1>{{location.city}}</h1>
     <h1>{{location.state}}</h1>
     <h1>{{location.description}}</h1>
     <h1>{{location.lat}}</h1>
     <h1>{{location.lng}}</h1>
     <img src='{{location.img}}' alt='{{location.name}}'/>
</div>
<div class="buttons">
    <a href="/locations/{{location.id}}/update">
        <div class='green'>
            Edit
        </div>
    </a>
    <a href="/locations/{{location.id}}/delete">
        <div class='red'>
            Delete
        </div>
    </a>
</div>
{% endblock %}